<html>
<head>
<title>Архив статей</title>
</head>
<body>
<div class="header">
	<img src="http://1.fotos.web.sapo.io/i/B8413660f/19047645_RLF2C.jpeg">
</div>
<div class="archive">
	{% for post in posts %}
		<div class="one-post">
			<h2 class="post-title">{{ post.title }}</h2>
			<div class="article-info">
				<div class="article-author">{{ post.author.username }}</div>
				<div class="article-created- date">{{ post.created_date }}</div>
			</div>
			<p class="article-text">{{ post.get_excerpt }}</p>
		</div>
	{% endfor %}
</div>
</body>
