body {
 background: #1abc9c; 
 font-family: Tahoma, Arial, sans-serif; 
 color: #ffffff;
}
.header img {
 display: block; 
 width: 200px; 
 position: absolute;
 left: 50px;
}
.archive {
 width: 960px; 
 position: absolute;
 top: 100px;
 left: 50px;
}
.post-title a {
 color: #ffffff;
}
.article-author { 
 width: 50%; 
 float: left;
}
.article-created-date { 
 text-align: right;
}
.link {
 position: absolute;
 top: 100px; right: 50px;
 color: #ffffff;
}


